---
import Layout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: any) => ({
    params: { id: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { data } = post;
const { title, description, h1, image } = data;

const { Content } = await render(post);
---

<Layout title={title} description={description}>
  <div
    class="prose m-auto prose-img:w-auto max-w-none prose-img:aspect-video prose-img:object-contain prose-img:mx-auto prose-h1:text-3xl prose-h2:text-2xl lg:prose-xl lg:prose-h1:text-5xl lg:prose-h2:text-3xl lg:prose-h3:text-2xl"
  >
    <h1>{h1}</h1>
    <img src={image} alt={title} />
    <Content />
  </div>
</Layout>
