---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<Layout>
	<h1>Hello</h1>
	<section class="flex flex-col gap-4 mt-4">
		{posts.map((post: any) => (
			<article class="flex flex-col gap-4 p-4 bg-white rounded-lg shadow-md max-w-64">
				<a href={post.slug}>
					<h2 class="text-2xl font-bold">{post.data.title}</h2>
				</a>
				<p class="text-gray-500 text-sm">{post.data.date}</p>
				<img class="h-full" src={post.data.image} alt={post.data.title} />
				<p class="text-gray-500">{post.data.description}</p>
			</article>
		))}
	</section>
</Layout>
